* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(17 24 39);
  color: rgb(209 213 219);
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: rgb(209 213 219);
  font-weight: 400;
}

a:hover {
  color: hotpink;
}

ol {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 24px;
  font-weight: 900;
}
